#header-main {
  width: $w-100;
  background-color: $white;
  position: relative;

  &::after{
    content: '';
    position: absolute;
    left: 0;
    top: 93px;
    background-size: 80px;
    background-repeat: repeat-x;
    background-image: url(./../../food-templat/images/shape.png);
    height: 10px;
    width: 100%;
    z-index: 9;
  }
  .header {
    padding: 30px 0;
    @include d-flex;
    justify-content: space-around;
    .menu-left,
    .menu-right {
      ul {
        @include d-flex;
        column-gap: 30px;
        > li {
          list-style: none;
          position: relative;
          > a {
            display: block;
            overflow: hidden;
            text-decoration: none;
            // padding-bottom: 45px;
            span{
              display: inline-block;
              transition: all 0.5s;
              color: #2b2d2e;
            font-size: 18px;
            font-family: Amita, serif;
            text-transform: capitalize;
            font-weight: 900;
            position: relative;
            &::after{
              cursor: pointer;
              color: $theme-color;
              position: absolute;
              left: 0;
              top: 100%;
              width: auto;
              height: auto;
              content: attr(data-hover);
            }
            }
            i.fa-angle-down {
              font-size: 9px;
              margin-left: 3px;
              margin-top: -3px;
              vertical-align: middle;
              color: #2b2d2e;
            }
          }
          &:hover a span{
            transform: translateY(-100%);
          }
          &:hover a i.fa-angle-down {
            color: $theme-color;
          }
          ul.lg-sub-menu {
            opacity: 0;
            visibility: hidden;
            background-color: #fff;
            position: absolute;
            right: 0;
            width: calc(100% - 30px);
            top: 105px;
            z-index: 9;
            transition: 0.4s;
            transform: translateY(10px);
            border: 3px solid $theme-color;
            margin: 0 15px;
            display: flex;
            justify-content: space-between;
            padding: 20px 20px 40px;
            border-radius: 8px;
            li {
              a {
                color: #000;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 15px;
                display: block;
                font-family: "Poppins", sans-serif;
              }
              ul.inner-menu {
                display: block;
                li {
                  &:hover a {
                    color: $theme-color;
                  }
                  a {
                    padding: 10px 0;
                    color: $black;
                    font-weight: 400;
                    margin-bottom: 0;
                    font-size: 15px;
                    transition: 0.4s;
                  }
                }
              }
            }
          }
          ul.sub-menu {
            z-index: 99;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
            top: 75px;
            transition: 0.4s;
            left: 0;
            padding: 10px 5px;
            box-shadow: 0 0 40px 0 rgba(0, 16, 147, 0.15);
            position: absolute;
            background-color: $white;
            border: solid 3px $theme-color;
            display: initial;
            width: 250px;
            border-radius: 14px;
            li {
              &:hover a {
                padding-left: 32px;
                color: #5fcac7;
              }
              &:hover a::before {
                width: 20px;
              }
              a {
                color: #2b2d2e;
                text-transform: uppercase;
                transition: 0.4s;
                font-weight: 400;
                font-size: 16px;
                display: inherit;
                font-family: "Poppins", sans-serif;
                padding: 10px 20px;
                position: relative;
                &::before {
                  content: "";
                  position: absolute;
                  background: #5fcac7;
                  height: 1px;
                  left: 5px;
                  width: 0px;
                  top: 22px;
                  transition: 0.15s linear;
                  -webkit-transition: 0.15s linear;
                }
              }
            }
          }
          &:hover ul.sub-menu,
          &:hover ul.lg-sub-menu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
          }
        }
      }
    }
    .logo {
      max-width: 170px;
      max-height: 141px;
      position: absolute;
      z-index: 10;
      top: 6px;
      img {
        width: $w-100;
      }
    }
  }
}
